# Klasifikacija

Za početak ćemo dodati biblioteke za rad sa podacima i učitati sređeni skup podataka.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_columns=30

In [2]:
banks=pd.read_csv('Bank Marketing/prepared_bank.csv')

In [3]:
banks.head(10)

,age,job,education,housing,loan,contact,month,day_of_week,duration,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,nr_employed,euribor3m_groups,campaign_disc,pdays_groups,previous_disc,divorced,married,single,subscribed?
0,30,blue-collar,basic.9y,True,False,cellular,may,fri,487.000000,nonexistent,-1.8,92.893,-46.2,5099.1,low,often,False,False,0,1,0,False
1,39,services,high.school,False,False,telephone,may,fri,346.000000,nonexistent,1.1,93.994,-36.4,5191.0,high,often,False,False,0,0,1,False
2,25,services,high.school,True,False,telephone,jun,wed,227.000000,nonexistent,1.4,94.465,-41.8,5228.1,high,rare,False,False,0,1,0,False
3,47,admin.,university.degree,True,False,cellular,nov,mon,58.000000,nonexistent,-0.1,93.200,-42.0,5195.8,high,rare,False,False,0,1,0,False
4,32,services,university.degree,False,False,cellular,sep,thu,128.000000,failure,-1.1,94.199,-37.5,4963.6,low,often,False,True,0,0,1,False
5,32,admin.,university.degree,True,False,cellular,sep,mon,290.000000,nonexistent,-1.1,94.199,-37.5,4963.6,low,often,False,False,0,0,1,False
6,41,entrepreneur,university.degree,True,False,cellular,nov,mon,44.000000,nonexistent,-0.1,93.200,-42.0,5195.8,high,often,False,False,0,1,0,False
7,31,services,professional.course,False,False,cellular,nov,tue,68.000000,failure,-0.1,93.200,-42.0,5195.8,high,rare,False,True,1,0,0,False
8,35,blue-collar,basic.9y,False,False,telephone,may,thu,256.974477,nonexistent,1.1,93.994,-36.4,5191.0,high,rare,False,False,0,1,0,False
9,25,services,basic.6y,True,False,cellular,jul,thu,301.000000,nonexistent,1.4,93.918,-42.7,5228.1,high,rare,False,False,0,0,1,False

In [4]:
banks.dtypes

age                   int64
job                  object
education            object
housing                bool
loan                   bool
contact              object
month                object
day_of_week          object
duration            float64
poutcome             object
emp_var_rate        float64
cons_price_idx      float64
cons_conf_idx       float64
nr_employed         float64
euribor3m_groups     object
campaign_disc        object
pdays_groups           bool
previous_disc          bool
divorced              int64
married               int64
single                int64
subscribed?            bool
dtype: object

Nakon dorade podataka vreme je da podelimo skup u dva dela, ulazne podatke (X) i izlazne podatke (y).

In [8]:
X=banks.drop('subscribed?', axis=1)
y=banks['subscribed?']

In [13]:
y.head()

0    False
1    False
2    False
3    False
4    False
Name: subscribed?, dtype: bool

## Logistička regresija

In [14]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

In [15]:
model.fit(X,y)

ValueError: could not convert string to float: 'blue-collar'